<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    {% extends 'layouts/base.html' %}

    {% block content %}

    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto excepturi rerum fugit mollitia similique modi blanditiis voluptatum voluptatibus at aut eum a temporibus eius, sint necessitatibus maxime, dolore, asperiores id. Sequi voluptatibus animi alias blanditiis suscipit. Alias quis odio tempore, eaque quae ut, voluptatum laboriosam voluptate, atque nemo voluptas optio magnam nesciunt maiores quibusdam est ipsa nulla soluta illo consectetur voluptatibus amet! Doloribus officia, similique quos quod commodi hic labore aperiam laborum praesentium ex unde fugiat tempora ea dolorem alias voluptatibus laboriosam? Maiores veniam nulla repudiandae odio, quaerat quas saepe, consequuntur quasi assumenda, beatae similique molestias necessitatibus impedit dolores exercitationem.</p>

    {% endblock %}
</body>
</html>