<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    {% extends 'layouts/base.html' %}

    {% block content %}

    <h1>{{title}}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos iste sapiente reiciendis ducimus, aperiam unde ipsum vitae exercitationem recusandae in delectus laudantium, voluptates cumque eius! Similique atque labore quis expedita!</p>
    
    {% endblock %}
</body>
</html>